#bs-example-navbar-collapse-1 > ul > li:hover {
  border-bottom: 2px solid #D61E80;
}

#bs-example-navbar-collapse-1 > ul > li > a:hover {
  color: #D61E80;
}

#container-follow {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#container-user {
  background: linear-gradient(#EEA5CC, white, white);
  padding-top: 12vh;
  padding-bottom: 1.5vh;
}

#container-user > div > img {
  border: 3px solid white;
}

#logo {
  color: #1DA1F2;
  margin-top: 1.5vh;
}

#search {
  background-color: #F5F8FA;
  border-radius: 15px;
}

#search:focus {
  background-color: white;
  border: 2px solid #D61E80;
  box-shadow: none;
}

#text-area {
  border-color: #F4C6DF;
  border-radius: 10px;
  resize: none;
  padding: 10px 15px 10px 8px;
}

#text-area::placeholder {
  color: #D91EA1;
}

#text-area:focus {
  border: 2px solid #EEA5CC;
  box-shadow: none;
}

#text-area:focus::placeholder {
  color: #B2B8CE;
}

#twitts-container > div {
  border-top: 1px solid #E6ECF0;
}

.fs-13 {
  font-size: 1.3em;
}

.fw-b {
  font-weight: bold;
}

.gray {
  background-color: #E6ECF0;
}

.light-gray {
  color: #6E7F8D;
}

.links {
  color: gray;
  font-weight: bold;
}

.links:hover {
  color: #D61E80;
}

.mh-92 {
  min-height: 92vh;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1vh;
}

.name-user {
  padding-top: 5vh;
}

.photo-user > img {
  border-radius: 50px;
}

.pink {
  background-color: #FAE8F2;
}

.a-user {
  color: #D61E80;
  font-size: 1.4em;
  font-weight: bold;
}

.pb-pt {
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.t-d:hover {
  text-decoration: underline;
}

.twittear {
  background-color: #DE4A99;
  border-radius: 15px;
  border: none;
  color: white;
}

.twittear:hover {
  background-color: #C61E80;
  color: white;
}

.twittear:focus {
  background-color: #DE4A99;
  border-radius: 15px;
  border: none;
  color: white;
}

.white {
  background-color: white;
}
