#buttonTwittAnswer:disabled,
#buttonTwittM:disabled,
#buttonTwitt:disabled {
  background-color: #F2B9D7;
  color: #FBEFF6;
}

#buttonTwittAnswer:disabled:hover,
#buttonTwittM:disabled:hover,
#buttonTwitt:disabled:hover {
  background-color: #EEA5CC;
  color: #FBEFF6;
}

#bs-example-navbar-collapse-1 > ul > li:hover {
  border-bottom: 2px solid #D61E80;
}

#bs-example-navbar-collapse-1 > ul > li > a:hover {
  color: #D61E80;
}

#container-follow {
  padding-bottom: 10vh;
}

#container-user {
  background: linear-gradient(#EEA5CC, white, white);
  padding-top: 12vh;
  padding-bottom: 1.5vh;
}

#container-user > div > img {
  border: 3px solid white;
}

#counterAnswer,
#counterM,
#counter {
  background: transparent;
  border: none;
}

#logo {
  color: #1DA1F2;
  margin-top: 1.5vh;
}

#search {
  background-color: #F5F8FA;
  border-radius: 15px;
}

#search:focus {
  background-color: white;
  border: 2px solid #D61E80;
  box-shadow: none;
}

#text-areaAnswer,
#text-areaM,
#text-area {
  border-color: #F4C6DF;
  border-radius: 10px;
  font-size: 1em;
  height: 50px;
  line-height: normal;
  padding: 10px 15px 10px 8px;
  resize: none;
}

#text-areaAnswer::placeholder,
#text-areaM::placeholder,
#text-area::placeholder {
  color: #D91EA1;
}

#text-areaAnswer:focus,
#text-areaM:focus,
#text-area:focus {
  border: 2px solid #EEA5CC;
  box-shadow: none;
}

#text-areaAnswer:focus::placeholder,
#text-areaM:focus::placeholder,
#text-area:focus::placeholder {
  color: #B2B8CE;
}

#twitts-container > div {
  border-top: 1px solid #E6ECF0;
}

.a-user {
  color: #D61E80;
  font-size: 1.4em;
  font-weight: bold;
}

.ancores {
  color: #D61E80;
  cursor: pointer;
}

.ancores:hover {
  text-decoration: underline;
}

.ancoreTweet:hover {
  color: #D61E80;
  text-decoration: underline;
  cursor: pointer;
}

.blue-icon:hover {
  color: #1DA1F2;
}

.buttonFollow {
  border-radius: 15px;
  border: 1px solid #D61E80;
  color: #D61E80;
  padding: .5vh 0;
}

.buttonFollow:hover {
  background-color: #FAE8F2;
  border: 1px solid #D61E80;
  color: #D61E80;
}

.buttonFollow:focus {
  background-color: #D61E80;
  border: none;
  color: white;
}

.cursor-p {
  cursor: pointer;
}

.fs-1 {
  font-size: .9em;
}

.fs-13 {
  font-size: 1.3em;
}

.fw-b {
  font-weight: bold;
}

.fw-n {
  font-weight: normal;
}

.gray {
  background-color: #E6ECF0;
}

.green-icon:hover {
  color: #90C071;
}

.inline-block {
  display: inline-block;
}

.light-gray {
  color: #6E7F8D;
}

.links {
  color: gray;
  font-weight: bold;
}

.links:hover {
  color: #D61E80;
}

.mh-100 {
  min-height: 100vh;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-gray {
  border-bottom: 1px solid #E6ECF0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1vh;
}

.mt-gray {
  border-top: 1px solid #E6ECF0;
}

.name-user {
  padding-top: 5vh;
}

.photo-user > img {
  border-radius: 50px;
}

.pink {
  background-color: #FAE8F2;
}

.pink-text {
  color: #D61E80;
}

.pink-icon:hover,
.pink-icon1:hover {
  color: #D61E80;
}

.pb-pt {
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.t-d:hover {
  text-decoration: underline;
}

.twittear {
  background-color: #DE4A99;
  border-radius: 15px;
  border: none;
  color: white;
}

.twittear:hover {
  background-color: #C61E80;
  color: white;
}

.twittear:focus {
  background-color: #DE4A99;
  border-radius: 15px;
  border: none;
  color: white;
}

.white {
  background-color: white;
}
